// ------------------------------
//　　変数
// ------------------------------
$size-container: 960px;
$size-container-lg: 1150px;
$space-xs: 15px;
$space-sm: 20px;
$space-md: 30px;
$space-lg: 40px;
$space-xl: 60px;
$grid-space-lg: 40px;
$color-body: #FFF;
$color-neutral-lightest: #F1F1F1;
$color-neutral-light: #EEE;
$color-neutral-base: #CCC;
$color-neutral-dark: #666;
$color-neutral-darker: #333;
$color-neutral-darkest: #222;
