@charset "UTF-8";
/* ------------------------------
  カートテーマ
------------------------------ */
.cart-table {
  width: 100%;
  margin-bottom: 20px;
  color: #333;
  font-size: 16px;
  border-collapse: collapse;
}
.cart-table th {
  padding: 10px;
  text-align: left;
  background: #eee;
  border: 1px solid #999;
}
.cart-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #999;
}
.cart-table input[type=text] {
  padding: 5px 5px 4px;
  color: #333;
  font-size: 13px;
  line-height: 1;
  border: 1px solid #a7a7aa;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.cart-btn {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  background: #949494;
  border: none;
  border-radius: 5px;
  transition: background 0.2s;
  display: inline-block;
  margin-right: 10px;
}
.cart-btn:hover {
  background: #333333;
}
.cart-btn:last-child {
  margin-right: 0;
}

.cart-btn-primary {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  background: #2262AC;
  border: none;
  border-radius: 5px;
  transition: background 0.2s;
  display: inline-block;
  margin-right: 10px;
}
.cart-btn-primary:hover {
  background: #153964;
}

.cart-btn-wrapper {
  text-align: center;
}

.cart-flow-list {
  padding: 0;
}
.cart-flow-list li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
  list-style-type: none;
}
.cart-flow-list a,
.cart-flow-list a:link,
.cart-flow-list a:hover,
.cart-flow-list a:visited {
  color: #2262ac;
  font-weight: bold;
  text-decoration: none;
}
.cart-flow-list .current {
  color: #333;
  font-weight: bold;
}
.cart-flow-list .current .cart-flow-list-number {
  background: #333;
}

.cart-flow-list-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  background: #b9b9b9;
  border-radius: 50%;
}

/* ------------------------------
　　検索
------------------------------ */
.cart-search dt {
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.cart-search dd {
  margin-left: 10px;
}

.cart-search select {
  margin-bottom: 10px;
}

.cart-search .acms-form-radio {
  margin-bottom: 10px;
}

.cart-search .acms-form-checkbox {
  margin-bottom: 10px;
}

.cart-search-text {
  margin: 0 0 10px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.cart-search-select-text {
  display: inline-block;
  margin-right: 15px;
}

.cart-search-btn {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  background: #949494;
  border: none;
  border-radius: 5px;
  transition: background 0.2s;
  width: 100%;
  margin: 10px auto 40px;
}
.cart-search-btn:hover {
  background: #333333;
}
