@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　編集ページ
------------------------------ */
.field-title {
	padding: 0 10px;
}

.field-title:first-child {
	margin: 0 0 10px;
}

.field-table-inner {
	width: 100%;

	th,
	td {
		border: 0;
	}
}
