@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　フッター
------------------------------ */

/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}

.company-about {
	margin: 0 0 30px;
	color: #FFF;
  line-height: 1.5;
}

.company-name {
	margin: 0 0 15px;
	color: #FFF;

	@include acms.font-size(20);

	font-style: normal;
}

.company-detail {
	margin: 0 0 5px;
	padding: 0;
	color: #FFF;

	@include acms.font-size(14);

	font-style: normal;

	a {
		color: #FFF;

		 &:hover {
			text-decoration: underline;
		}
	}
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	width: 650px;
	max-width: 100%;
	margin: 0 -10px;
}

.footer-nav-item {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 25%;
	margin: 0 0 10px;
	padding: 0 10px;
	vertical-align: top;
}

.footer-nav-title {
	margin: 0 0 15px;
	color: #FFF;

	@include acms.font-size(16);
}

.footer-nav-list {
	padding: 0;
	color: #999;
	list-style: none;

	li {
		line-height: 1.7;
	}

	a {
    display: inline-block;
    margin: 0 0 3px;
    padding: 2px 0;
		color: #AAA;
	}
}

@media screen and (min-width: acms.$breakpoint-md-min){
  .foot-wrapper {
    padding: 50px 0 30px;
  }
}

@media screen and (max-width: acms.$breakpoint-md-max){
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top {
	a:focus {
		display: block;
		border: 1px dotted #FFF;
	}
}

.page-top-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url("../../images/marker/btn_pageTop.png") no-repeat center;
	transform: translateZ(0);

	@if  global.$enable-iphonex == true {
		right: calc(20px + constant(safe-area-inset-right));
	}

	opacity: 0;

	@include acms.transition(opacity .2s ease-out);

	.no-js  & {
		/* jsが無効の環境のとき */
		opacity: .6;
	}
}

.page-top-btn-appear {
	opacity: 1;
}

@media screen and (max-width: acms.$breakpoint-md-max){
	.page-top-btn {
		display: none;
	}
}

@media screen and (min-width: acms.$breakpoint-md-min){
	.page-top-btn {
		 &:hover {
			opacity: .8;

			@include acms.transition(opacity .25s linear);
		}
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	margin: 0 -5px 30px 15px;
	padding: 0;
	list-style: none;
}

.sns-list-item {
	float: left;
	margin: 0 5px;

	a {
		 &:hover,
		 &:visited,
		 &:active,
		 &:focus {
			text-decoration: none;
		}
	}
}

/* 各種SNSボタン */
.sns-list-item {
	.sns-list-facebook {
		/* Facebook */
		@include global.footer-sns-list(global.$facebook-color);
	}

	.sns-list-twitter {
		/* Twitter */
		@include global.footer-sns-list(global.$x-color);
	}

	.sns-list-youtube {
		/* YouTube */
		@include global.footer-sns-list(global.$youtube-color);
	}
}

@media screen and (min-width: acms.$breakpoint-md-min){
	.sns-list {
		float: right;
		margin: 0 -10px;
	}

	.sns-list-item {
		margin: 10px;

		a {
			 &:hover {
         opacity: .8;

				@include acms.transition(opacity .25s linear);
			}
		}
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}

.copyright-text {
	margin: 0 auto;
}

.copryright-logo {
	vertical-align: middle;
}
