@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　メインビジュアル
------------------------------ */
.main-visual {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 350px;
	padding: 40px 5px;
	color: #FFF;
	text-align: center;
	background: #EEE no-repeat center;
	background-size: cover;
}

.main-visual-title {
	margin: 0 0 20px;

	@include acms.font-size(24);

	font-weight: bold;
}

.main-visual-text {
	margin: 0 0 20px;

	@include acms.font-size(14);

	line-height: 1.7;
}

.main-visual-center-btn {
	margin: 0;
}


.main-visual-title,
.main-visual-text,
.main-visual-center-btn {
	opacity: 0;
	animation: fadeUp .35s 1 both ease-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}


@media screen and (min-width: acms.$breakpoint-md-min){
	.main-visual {
		height: 420px;
		padding: 50px 0;
	}

	.main-visual-title {
		margin: 0 0 30px;

		@include acms.font-size(30);
	}

	.main-visual-text {
		margin: 0 0 40px;

		@include acms.font-size(16);

		line-height: 1.7;
	}
}

@media screen and (max-width: acms.$breakpoint-md-max){
	.main-visual-center-btn {
		.btn-attention-block-large {
			padding: 15px;

			@include acms.font-size(16);
		}
	}
}
