@charset "utf-8";
@use "sass:math";

// グローバルメンバーファイル acms.css兼用
@forward "global/acms-common";

// グローバルメンバーファイル テーマ専用
@forward "global/common" with (
  $entry-element-margin-bottom-sm: 5px,
  $entry-element-margin-bottom-md: 10px,
  $entry-element-margin-bottom-lg: 15px
);


/* ------------------------------
　　acms.css ノンレスポンシブ対応
------------------------------ */

// グリッドシステムのカラム数
$col: 12;

// ブレイクポイントごとのクラス名
$breakpoints: ("","-sm","-md","-lg","-xl");

[class*="acms-col-"] {
	float: left;
}

@each $mq-name in $breakpoints {
	 @for $i from 1 through $col {
		$width: percentage(math.div($i, $col));
		.acms-col#{$mq-name}-#{$i} {
			width: $width;
		}
	}
}

.section-center-col {
  float: none;
}


// 63行目でfloat:left; させた [class*="acms-col-"]の影響を修正するため再度読み込み
@import "../../../system/src/scss/unit";

// $breakpointsの回数分ループする
@each $mq-name in $breakpoints {
	// $display-text-patternsの回数分ループする
	$display-text-patterns: (block, inline, inline-block, table-cell, hide );
	$display-patterns: (block, inline, inline-block, table-cell, none);

	@each $class in $display-text-patterns {
		$index: index($display-text-patterns, $class);
		$display: nth($display-patterns, $index);

		.acms-#{$class}#{$mq-name} {
			display: $display!important;
		}
	}
}

// デバイスのクラス名
$device-patterns: ("-sp","-tb","-pc");

// $device-patternsの回数分ループする
@each $device-name in $device-patterns {
	// $display-text-patternsの回数分ループする
	$display-text-patterns: (show, hide );
	$display-patterns: (block, none);

	@each $class in $display-text-patterns {
		$index: index($display-text-patterns, $class);
		$display: nth($display-patterns, $index);

		.acms-#{$class}#{$device-name} {
			display: $display!important;
		}
	}
}

/* ------------------------------
　　テーマ用CSS プリント対応
------------------------------ */

.site-header {
  display: none;
}

// ヘッダー
.header-logo {
	padding: 0;
}

.side {
	display: none;
}

.main {
	display: block;
	width: 100%;
}

// エントリー
.entry-column td, .entry-column th {
	display: table-cell;
}

.entry-footer {
	display: none;
}

.serial-nav {
	display: none;
}

// フッター
.suggest-half {
	float: left;
	width: 50%;
}

.sns-list {
	float: right;
}


