@charset "UTF-8";
/* ------------------------------
　　acms.css ノンレスポンシブ対応
------------------------------ */
[class*=acms-col-] {
  float: left;
}

.acms-col-1 {
  width: 8.3333333333%;
}

.acms-col-2 {
  width: 16.6666666667%;
}

.acms-col-3 {
  width: 25%;
}

.acms-col-4 {
  width: 33.3333333333%;
}

.acms-col-5 {
  width: 41.6666666667%;
}

.acms-col-6 {
  width: 50%;
}

.acms-col-7 {
  width: 58.3333333333%;
}

.acms-col-8 {
  width: 66.6666666667%;
}

.acms-col-9 {
  width: 75%;
}

.acms-col-10 {
  width: 83.3333333333%;
}

.acms-col-11 {
  width: 91.6666666667%;
}

.acms-col-12 {
  width: 100%;
}

.acms-col-sm-1 {
  width: 8.3333333333%;
}

.acms-col-sm-2 {
  width: 16.6666666667%;
}

.acms-col-sm-3 {
  width: 25%;
}

.acms-col-sm-4 {
  width: 33.3333333333%;
}

.acms-col-sm-5 {
  width: 41.6666666667%;
}

.acms-col-sm-6 {
  width: 50%;
}

.acms-col-sm-7 {
  width: 58.3333333333%;
}

.acms-col-sm-8 {
  width: 66.6666666667%;
}

.acms-col-sm-9 {
  width: 75%;
}

.acms-col-sm-10 {
  width: 83.3333333333%;
}

.acms-col-sm-11 {
  width: 91.6666666667%;
}

.acms-col-sm-12 {
  width: 100%;
}

.acms-col-md-1 {
  width: 8.3333333333%;
}

.acms-col-md-2 {
  width: 16.6666666667%;
}

.acms-col-md-3 {
  width: 25%;
}

.acms-col-md-4 {
  width: 33.3333333333%;
}

.acms-col-md-5 {
  width: 41.6666666667%;
}

.acms-col-md-6 {
  width: 50%;
}

.acms-col-md-7 {
  width: 58.3333333333%;
}

.acms-col-md-8 {
  width: 66.6666666667%;
}

.acms-col-md-9 {
  width: 75%;
}

.acms-col-md-10 {
  width: 83.3333333333%;
}

.acms-col-md-11 {
  width: 91.6666666667%;
}

.acms-col-md-12 {
  width: 100%;
}

.acms-col-lg-1 {
  width: 8.3333333333%;
}

.acms-col-lg-2 {
  width: 16.6666666667%;
}

.acms-col-lg-3 {
  width: 25%;
}

.acms-col-lg-4 {
  width: 33.3333333333%;
}

.acms-col-lg-5 {
  width: 41.6666666667%;
}

.acms-col-lg-6 {
  width: 50%;
}

.acms-col-lg-7 {
  width: 58.3333333333%;
}

.acms-col-lg-8 {
  width: 66.6666666667%;
}

.acms-col-lg-9 {
  width: 75%;
}

.acms-col-lg-10 {
  width: 83.3333333333%;
}

.acms-col-lg-11 {
  width: 91.6666666667%;
}

.acms-col-lg-12 {
  width: 100%;
}

.acms-col-xl-1 {
  width: 8.3333333333%;
}

.acms-col-xl-2 {
  width: 16.6666666667%;
}

.acms-col-xl-3 {
  width: 25%;
}

.acms-col-xl-4 {
  width: 33.3333333333%;
}

.acms-col-xl-5 {
  width: 41.6666666667%;
}

.acms-col-xl-6 {
  width: 50%;
}

.acms-col-xl-7 {
  width: 58.3333333333%;
}

.acms-col-xl-8 {
  width: 66.6666666667%;
}

.acms-col-xl-9 {
  width: 75%;
}

.acms-col-xl-10 {
  width: 83.3333333333%;
}

.acms-col-xl-11 {
  width: 91.6666666667%;
}

.acms-col-xl-12 {
  width: 100%;
}

.section-center-col {
  float: none;
}

/* ------------------------------
 ユニットグループ
------------------------------- */
/* ------------------------------
 フロート解除
------------------------------ */
.clearHidden {
  display: block;
  clear: both;
  height: 0;
  margin: 0;
  border: none;
  visibility: hidden;
}

/* ------------------------------
 動的フォーム
------------------------------ */
/* ------------------------------
 エントリー内 主な要素
------------------------------ */
.entry-style [class*=acms-col-] {
  padding: 0;
}

/* ------------------------------
 テキストユニットの設定
------------------------------ */
.entry-style h2 {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style h3 {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style h4 {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style h5 {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style h6 {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style dl {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style p {
  margin-right: 10px;
  margin-left: 10px;
}
.entry-style blockquote {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  border-left: solid 5px #CCCCCC;
}

/* ------------------------------
各種ユニットの設定
------------------------------ */
.entry-style [class*=column-image] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-file] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-map] {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  box-sizing: border-box;
}

.entry-style [class*=column-yolp] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-street-view]:not(.column-street-view-inner) {
  padding-right: 10px;
  padding-left: 10px;
}

.entry-style [class*=column-youtube] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-video] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-eximage] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-media] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.entry-style [class*=column-quote] {
  margin-right: 10px;
  margin-left: 10px;
}

.entry-style [class*=column-module] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

[class*=column-image] {
  margin-bottom: 20px;
}

[class*=column-file] {
  margin-bottom: 20px;
}

[class*=column-map] {
  margin-bottom: 20px;
}

[class*=column-yolp] {
  margin-bottom: 20px;
}

[class*=column-street-view] {
  margin-bottom: 20px;
}

[class*=column-youtube] {
  margin-bottom: 20px;
}

[class*=column-video] {
  margin-bottom: 20px;
}

[class*=column-eximage] {
  margin-bottom: 20px;
}

[class*=column-media] {
  margin-bottom: 20px;
}

[class*=column-quote] {
  margin-bottom: 20px;
}

[class*=column-module] {
  margin-bottom: 20px;
}

/* 画像・メディア・画像URLの共通設定 */
[class*=column-image],
[class*=column-media],
[class*=column-eximage] {
  display: block;
}
[class*=column-image].caption,
[class*=column-media].caption,
[class*=column-eximage].caption {
  margin-bottom: 10px;
}
[class*=column-image] a,
[class*=column-media] a,
[class*=column-eximage] a {
  display: block;
}
[class*=column-image] img,
[class*=column-media] img,
[class*=column-eximage] img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
[class*=column-image] .caption,
[class*=column-media] .caption,
[class*=column-eximage] .caption {
  margin: 5px 0 0 0;
}

/* 画像ユニットの設定 */
[class*=column-image][style*=width] {
  max-width: 100%;
}

/* メディアの種類がファイルだった時の設定 */
[class*=column-media] a[href*=media-download] {
  display: inline-block;
  width: 100%;
}

/* 地図・Yahooo!地図の共通設定 */
[class*=column-map] > img,
[class*=column-yolp] > img {
  max-width: 100%;
}
[class*=column-map] img,
[class*=column-yolp] img {
  width: auto;
  height: auto;
}

[class*=column-map] > div {
  max-width: 100%;
}

[class*=column-yolp] {
  width: auto !important;
}

[class*=column-quote] {
  /* 引用ユニット画像 */
  /* 引用ユニットテキスト */
}
[class*=column-quote] blockquote {
  padding: 20px 10px 20px 20px;
}
[class*=column-quote] .quoteImageContainer {
  position: relative;
  float: left;
  max-width: 154px;
  margin-right: 25px;
}
[class*=column-quote] .quoteImage {
  display: block;
  max-width: 100%;
  height: auto;
}
[class*=column-quote] .quoteTitle {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1.4;
  font-size: 18px;
}
@media print {
  [class*=column-quote] .quoteTitle {
    font-size: 18px;
  }
}
[class*=column-quote] .quoteTitleLink {
  color: #006DD9;
}
[class*=column-quote] .quoteSiteName {
  margin: 0 0 10px 0;
  padding: 0;
  color: #4B4B4B;
  font-size: 11px;
}
@media print {
  [class*=column-quote] .quoteSiteName {
    font-size: 11px;
  }
}
[class*=column-quote] .quoteDescription {
  margin: 0;
  padding: 0;
  color: #333333;
  line-height: 1.6;
  font-size: 12px;
}
@media print {
  [class*=column-quote] .quoteDescription {
    font-size: 12px;
  }
}

/* 配置のスタイル */
.column-image-left {
  float: left;
  text-align: left;
}

.column-image-right {
  float: right;
  text-align: right;
}

.column-image-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-image-auto {
  float: none;
}

/* 配置のスタイル */
.column-file-left {
  text-align: left;
  float: left;
  text-align: left;
}
.column-file-left + .caption {
  text-align: left;
}

.column-file-right {
  text-align: right;
  float: right;
  text-align: right;
}
.column-file-right + .caption {
  text-align: right;
}

.column-file-center {
  text-align: center;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.column-file-center + .caption {
  text-align: center;
}

.column-file-auto {
  text-align: auto;
  float: none;
}
.column-file-auto + .caption {
  text-align: auto;
}

/* 配置のスタイル */
.column-map-left {
  float: left;
  text-align: left;
}

.column-map-right {
  float: right;
  text-align: right;
}

.column-map-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-map-auto {
  float: none;
}

/* 配置のスタイル */
.column-yolp-left {
  float: left;
  text-align: left;
}

.column-yolp-right {
  float: right;
  text-align: right;
}

.column-yolp-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-yolp-auto {
  float: none;
}

/* 配置のスタイル */
.column-street-view-left {
  float: left;
  text-align: left;
}

.column-street-view-right {
  float: right;
  text-align: right;
}

.column-street-view-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-street-view-auto {
  float: none;
}

/* 配置のスタイル */
.column-youtube-left {
  float: left;
  text-align: left;
}

.column-youtube-right {
  float: right;
  text-align: right;
}

.column-youtube-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-youtube-auto {
  float: none;
}

/* 配置のスタイル */
.column-video-left {
  float: left;
  text-align: left;
}

.column-video-right {
  float: right;
  text-align: right;
}

.column-video-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-video-auto {
  float: none;
}

/* 配置のスタイル */
.column-eximage-left {
  float: left;
  text-align: left;
}

.column-eximage-right {
  float: right;
  text-align: right;
}

.column-eximage-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-eximage-auto {
  float: none;
}

/* 配置のスタイル */
.column-media-left {
  float: left;
  text-align: left;
}
.column-media-left :not([href*=media-download]):not([href*=storage]) + .caption {
  /* 画像のキャプションを中央寄せにする記述(media-downloadは動的、storageは静的書き出しに対応しています) */
  text-align: center;
}

.column-media-right {
  float: right;
  text-align: right;
}
.column-media-right :not([href*=media-download]):not([href*=storage]) + .caption {
  /* 画像のキャプションを中央寄せにする記述(media-downloadは動的、storageは静的書き出しに対応しています) */
  text-align: center;
}

.column-media-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.column-media-center :not([href*=media-download]):not([href*=storage]) + .caption {
  /* 画像のキャプションを中央寄せにする記述(media-downloadは動的、storageは静的書き出しに対応しています) */
  text-align: center;
}

.column-media-auto {
  float: none;
}
.column-media-auto :not([href*=media-download]):not([href*=storage]) + .caption {
  /* 画像のキャプションを中央寄せにする記述(media-downloadは動的、storageは静的書き出しに対応しています) */
  text-align: center;
}

/* 配置のスタイル */
.column-quote-left {
  float: left;
  text-align: left;
}

.column-quote-right {
  float: right;
  text-align: right;
}

.column-quote-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-quote-auto {
  float: none;
}

/* 配置のスタイル */
.column-module-left {
  float: left;
  text-align: left;
}

.column-module-right {
  float: right;
  text-align: right;
}

.column-module-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column-module-auto {
  float: none;
}

/* .acms-entry-unit-fullの設定 */
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-image] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-file] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-map] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-yolp] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-street-view] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-youtube] {
  width: 100% !important;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-video] {
  width: 100% !important;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-eximage] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-media] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-quote] {
  width: auto !important;
  max-width: 100%;
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*=column-module] {
  width: auto !important;
  max-width: 100%;
}

@media (max-width: 480px) {
  [class*=acms-col-][class*=-right] {
    float: left;
  }
  [class*=acms-col-][class*=-right] + * {
    clear: both;
  }
}
/* ------------------------------
 共通の要素
------------------------------ */
.entry-container {
  margin-right: 10px;
  margin-left: 10px;
}

/* PDFプレビュー */
.column-pdf-image {
  width: 100%;
  border: solid 1px #AAAAAA;
}

/* ストリートビュー */
.column-inner-street-view {
  width: 100%;
  padding-bottom: 100%;
}

/* YouTube動画をレスポンシブ対応させるための記述 */
.column-iframe {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.column-iframe iframe,
.column-iframe object,
.column-iframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------
 検索
------------------------------ */
/* 検索結果のハイライト
------------------------------ */
.highlight1 {
  background-color: #ffff66;
}

.highlight2 {
  background-color: #a0ffff;
}

.highlight3 {
  background-color: #99ff99;
}

.highlight4 {
  background-color: #ff9999;
}

.highlight5 {
  background-color: #ff66ff;
}

.highlight6 {
  background-color: #880000;
}

.acms-block {
  display: block !important;
}

.acms-inline {
  display: inline !important;
}

.acms-inline-block {
  display: inline-block !important;
}

.acms-table-cell {
  display: table-cell !important;
}

.acms-hide {
  display: none !important;
}

.acms-block-sm {
  display: block !important;
}

.acms-inline-sm {
  display: inline !important;
}

.acms-inline-block-sm {
  display: inline-block !important;
}

.acms-table-cell-sm {
  display: table-cell !important;
}

.acms-hide-sm {
  display: none !important;
}

.acms-block-md {
  display: block !important;
}

.acms-inline-md {
  display: inline !important;
}

.acms-inline-block-md {
  display: inline-block !important;
}

.acms-table-cell-md {
  display: table-cell !important;
}

.acms-hide-md {
  display: none !important;
}

.acms-block-lg {
  display: block !important;
}

.acms-inline-lg {
  display: inline !important;
}

.acms-inline-block-lg {
  display: inline-block !important;
}

.acms-table-cell-lg {
  display: table-cell !important;
}

.acms-hide-lg {
  display: none !important;
}

.acms-block-xl {
  display: block !important;
}

.acms-inline-xl {
  display: inline !important;
}

.acms-inline-block-xl {
  display: inline-block !important;
}

.acms-table-cell-xl {
  display: table-cell !important;
}

.acms-hide-xl {
  display: none !important;
}

.acms-show-sp {
  display: block !important;
}

.acms-hide-sp {
  display: none !important;
}

.acms-show-tb {
  display: block !important;
}

.acms-hide-tb {
  display: none !important;
}

.acms-show-pc {
  display: block !important;
}

.acms-hide-pc {
  display: none !important;
}

/* ------------------------------
　　テーマ用CSS プリント対応
------------------------------ */
.site-header {
  display: none;
}

.header-logo {
  padding: 0;
}

.side {
  display: none;
}

.main {
  display: block;
  width: 100%;
}

.entry-column td, .entry-column th {
  display: table-cell;
}

.entry-footer {
  display: none;
}

.serial-nav {
  display: none;
}

.suggest-half {
  float: left;
  width: 50%;
}

.sns-list {
  float: right;
}
