@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　タグリレーショナル
------------------------------ */
.tag-relational {
	margin-bottom: 30px;
}

.tag-relational-description {
	margin: 0 0 10px;

	@include acms.font-size(14);

	line-height: 1.4;
}

.tag-relational-tags {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 1;
	list-style-type: none;

	li {
		display: inline-block;
		padding: 0 4px 4px 0;
		line-height: 1;
	}

	a {
		display: inline-block;

		@include acms.font-size(14);

		line-height: 1.2;
		border-radius: 5px;

		@include global.only-underline-on-hover;
		@include global.link-color(global.$link-color-dark);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.tag-relational-entry-wrap {
		margin: 0 -5px;
}

.tag-relational-entry {
	display: block;
	padding: 0 5px 30px;
	border: none;

	&:hover {
		.tag-relational-img {
			opacity: global.$opacity-hover;
		}
	}
}

.tag-relational-img {
	width: 100%;
	height: 0;
	margin-right: 0;
	margin-bottom: 8px;
	padding: calc(100% / 2 * 0.5625); /* 画像が16:9になる高さ */

	@include global.transition-opacity;
}

.tag-relational-entry-title {
	margin: 0;
	padding: 0 5px;
	color: global.$text-color-base;
	font-weight: bold;

  @include acms.font-size(12);
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
	.tag-relational-description {
		margin-bottom: 15px;
	}

	.tag-relational-entry-title {
    @include acms.font-size(16);
	}
}
