@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath-wrap {
	height: 28px;
	margin-bottom: 25px;
	overflow: hidden;
}

.topicpath {
	margin: 0;
	padding: 0 0 35px;
	overflow-x: scroll;
	overflow-y: hidden;

  @include acms.font-size(12);

	line-height: 1;
	white-space: nowrap;
	list-style-type: none;

	a {
		@include global.link-color(global.$text-color-light);
		@include global.only-underline-on-hover;
	}
}

.topicpath li {
	display: inline-block;
	margin-left: 1px;

	&::after {
		display: inline-block;
		margin-left: 5px;
		content: ">";
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child::after {
		display: none;
	}
}

@media screen and (max-width: acms.$breakpoint-md-max) {
	.topicpath-wrap {
		height: 20px;
		margin-bottom: 10px;

		&.is-root-top {
			height: 0;
		}
	}
}
